@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 400px;
  border-radius: 5px;
  padding: 25px;
  background-color: white;
}

.wrapper header {
  font-size: 30px;
  font-weight: 600;
}

.wrapper .inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.inputField input {
  outline: none;
  width: 85%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}

.inputField button {
  width: 60px;
  height: 100%;
  border: none;
  outline: none;
  background: #8e49e8;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}

.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}

.wrapper .todoList {
  max-height: 250px;
  overflow-y: auto;
}

.todoList li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}

.todoList li span {
  position: absolute;
  right: -45px;
  color: #fff;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  transition: all 0.3s ease;
}

.todoList li:hover span {
  right: 0;
}

.wrapper .footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.footer button {
  border: none;
  outline: none;
  background: #8e49e8;
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 10px;
}

.linethr {
  text-decoration: line-through;
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
  .todoList li span {
    right: 0;
  }
  li{
    font-size: 1rem;
  }
  .footer span {
    font-size: 1rem;
  }
  .wrapper header {
    font-size: 20px;
  }
  .inputField button {
    font-size: 15px;
  }
}
